<div class="col-sm">

	<div class="card m-3" style="width: 20rem;">
		<div class="card-header">
			<span class="badge badge-info mx-2">{{50}} Bids</span>
			<span class="badge badge-warning mx-2">Start ${{500}}</span>
			<span class="badge badge-success mx-2">Current ${{500}}</span>
		</div>
		<img src="../static/potato.jpeg">
		<div class="card-body">
			<h4 class="card-title">The Potato</h4>
			<p class="card-text">A rare potato recovered from the ruins of atlantis.</p>
		</div>
		<div class="card-footer">
			<button type="button-primary" class="btn btn-primary col">
  				Bid <span class="badge badge-light">${{450}}</span>
				</button>
		</div>
	</div>

</div>
	