<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>

  
</head>

<body>
    <form id="createitem" action="createitem" method="post">
        Name:
        <input type="text" name="name" value="">
        <br><br> Description:
        <textarea name="desc" form="createitem">Description</textarea>
        <br><br> Starting Price:
        <input type="number" name="startprice" min="1" max="1000000">
        <br><br> Increment Amount: 
        <input type="number" name="increment" min="1" max="1000000">
        <br><br> Category: 
        <input type="text" name="category">
    </form>
</body>

</html>