{% extends "base.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
	<div class="jumbotron text-center">
		<h1>The Auction Portal</h1>
		<p>Sold! - Auctions made easy!</p>
	</div>

	<form class="container" method="post" action="/login">
		{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ error }}
		</div>
		{% endif %} {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
		<div class="alert alert-{{category}} container" role="alert">
			{{ message }}
		</div>
		{% endfor %} {% endif %} {% endwith %}

		<div class="form-group">
			<label for="email">Email address:</label>
			<input type="email" class="form-control" id="email" name="email">
		</div>
		<div class="form-group">
			<label for="pwd">Password:</label>
			<input type="password" class="form-control" id="pwd" name="password">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
{% endblock content %}