<nav class="navbar navbar-expand navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ url_for('home') }}">
			 <img src="/static/logo.png" width="30" height="30" class="d-inline-block align-top bg-secondary">
			Auction Portal
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
 </button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
				{% if session.logged_in %}
			
				<li class="nav-item ">
				<a class="nav-link" href="{{ url_for('home') }}">Market</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('mypurchases') }}">My Purchases</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ url_for('categories') }}"> Categories </a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{{ url_for('history') }}">Completed Auctions</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ url_for('create') }}"> Create Auction </a>
				</li>
		
			{% else %}
			
			{% endif %}
		
		</ul>

	
		
			{% if session.logged_in %}
			
				<a href='#' class="p-1">
				<img src="/static/profile-icon.jpg" class="rounded-circle d-inline-block align-top" width="40" height="40">
				<div class="navbar-text">{{session.user_name}}</div>
				</a>
				
			
				<div class="navbar-text mx-2">Balance: ${{session.user_balance}}</div>
				<a class="nav-link" href="{{ url_for('logout') }}"><button class="btn btn-danger mx-1 my-sm-0">Logout</button></a>
			{% else %}
			<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signup">Sign Up</a>
					</li>
			</ul>
			{% endif %}
		
		
	
	</div>
</nav>
