<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
</head>

<body>
    <form action="registeruser" method="post">
        Name:
        <input type="text" name="name" value="">
        <br> E-mail:
        <input type="text" name="email" value="">
        <br> Password:
        <input type="password" name="password">
        <input type="submit" value="Submit">
    </form>
</body>

</html>